{% extends 'base.html' %}

{% block content %}
    
    <h1>{{ race.name }}</h1>
    
    <ul class="list-group">
        
        <li class="list-group-item">
        <strong>Circuit:</strong> {{ race.circuit }}
        </li>
        
        <li class="list-group-item">
        <strong>Country:</strong> {{ race.country }}
        </li>
        
        <li class="list-group-item">
        <strong>Date:</strong> {{ race.race_date }}
        </li>
        
        <li class="list-group-item">
        <strong>Season:</strong> {{ race.season }}
        </li>
    
    </ul>
    
    <br>
    
    <h3>Race Results</h3>
    
    <table class="table">
    
        <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Points</th>
        </tr>
        
        {% for result in race.raceresult_set.all %}
        
        <tr>
        
            <td>{{ result.position }}</td>
            <td>{{ result.driver }}</td>
            <td>{{ result.points }}</td>
        
        </tr>
        
        {% endfor %}
    
    </table>

{% endblock %}